* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Google Font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Navbar Section */
#navbar {
    display: flex;
    justify-content: space-around;
}

#navbar .nav-logo {
    margin: 16px 0;
}

#navbar .nav-menu ul {
    display: flex;
    gap: 32px;
    margin: 34px 0;
}

#navbar .nav-menu li {
    list-style: none;
}

#navbar .nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

/* Common Styles */
.btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #469165;
    padding: 12.5px 16px;
    margin: 24px 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(74, 177, 100);
    box-shadow: 2px 2px 10px 5px red;
}

/* Hero Banner Section */
#hero {
    background: url('./assets/hero-bg.png');
    height: 674px;
    background-size: cover; 
}

.hero-container {
    padding-top: 115px;
}

#hero .hero-container .hero-heading {
    text-align: center;
}

.hero-heading .hero-btn {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    background-color: white;
    padding: 8px 12px;
    border-radius: 1000px;
    border: none;
    margin-bottom: 16px;
}

.hero-heading .text1 {
    color: white;
    font-size: 72px;
    font-weight: bold;
}

.hero-heading .text2 {
    color: #30B868;
}

.hero-container .hero-heading p {
    margin-top: 16px;
    color: white;
    line-height: 24px;
}

.hero-container .hero-button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* Notes Section */
#note .note-container {
    margin: 0 auto;
}

.note-header {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 44px;
}

.note-header h2 {
    font-size: 48px;
    font-weight: bold;
}
.note-header p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* Card Section */

#note .note-box {
    display: flex;
    gap: 24px;
    max-width: 1360px;
    margin: 0 auto;
}

.note-box .note-card {
    max-width: 330px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000041;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-card img {
    background-color: #F95555;
    padding: 15px;
    border-radius: 50%;
    align-items: center;
    margin-top: 69.5px;
    margin-bottom: 16px;
}

.note-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
}

.note-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding: 0 24px;
    text-align: center;
    padding-bottom: 25px;
}

/* Image Design Section */

#image-design .design-container {
    padding-top: 120px;
    display: flex;
    gap: 60px;
    /* Bug Fixed! */
    width: 85%;
    max-width: 1360px;
    align-items: center;
    margin-left: 120px;
    margin: 0 auto;
}

.design-container .right-design h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.design-container .right-design h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.design-container .right-design .paragraph {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    max-width: 484px;
    margin-bottom: 40px;
}

.design-container .text-list .icon-text {
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

.icon-text img {
    height: 20px;
    width: 20px;
}

/* Think Design Section */
#think {
    margin-top: 120px;
}

#think .think-bg {
    /* border: 1px solid red; */
    background-color: #F7F6F2;
    border-radius: 12px;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
}

.items-container .items-header {
    padding-top: 80px;
    color: #001931;
    font-size: 40px;
    font-weight: bold;
}

.items-container .times-info {
    margin-top: 16px;
    color: #627382;
    font-size: 16px;
    line-height: 24px;
}

.items-container .cta {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 80px;
}

/* Footer Section */
#footer {
    margin-top: 120px;
    background-color: #001931;
}

#footer .footer-container {
    /* border: 1px solid red; */
    /* 1360/1600=0.85 => 85% */
    width: 85%; 
    max-width: 1360px;
    margin: 0 auto;
}

.footer-container .footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.footer-right p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}

.footer-right .footer-icon img {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 16px;
}

.footer-bottom hr {
    margin: 80px 0 30px;
    /* Why hr color not working? */
    color: #e5e7eb7a;
}

.footer-bottom p {
    color: white;
    text-align: center;
    padding-bottom: 30px
}
