* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Google Font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Navbar Section */
#navbar {
    display: flex;
    justify-content: space-around;
}

#navbar .nav-logo {
    margin: 16px 0;
}

#navbar .nav-menu ul {
    display: flex;
    gap: 32px;
    margin: 34px 0;
}

#navbar .nav-menu li {
    list-style: none;
}

#navbar .nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

/* Common Styles */
.btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #469165;
    padding: 12.5px 16px;
    margin: 24px 0;
    border-radius: 4px;
    border: none;
}
.btn:hover {
    background-color: rgb(74, 177, 100);
    box-shadow: 2px 2px 10px 5px red;
}

/* Hero Banner Section */
#hero {
    background: url('./assets/hero-bg.png');
    height: 674px;
    background-size: cover; 
}

.hero-container {
    padding-top: 115px;
}

#hero .hero-container .hero-heading {
    text-align: center;
}

.hero-heading .hero-btn {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    background-color: white;
    padding: 8px 12px;
    border-radius: 1000px;
    border: none;
    margin-bottom: 16px;
}

.hero-heading .text1 {
    color: white;
    font-size: 72px;
    font-weight: bold;
}

.hero-heading .text2 {
    color: #30B868;
}

.hero-container .hero-heading p {
    margin-top: 16px;
    color: white;
    line-height: 24px;
}

.hero-container .hero-button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* Notes Section */
#note .note-container {
    margin: 0 auto;
}

.note-header {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 44px;
}

.note-header h2 {
    font-size: 48px;
    font-weight: bold;
}
.note-header p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* Note Section */

#note .note-box {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.note-box .note-card {
    max-width: 322px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000041;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-card img {
    background-color: #F95555;
    padding: 15px;
    border-radius: 50%;
    align-items: center;
    margin-top: 69.5px;
    margin-bottom: 16px;
}

.note-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.note-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding: 0 24px;
    text-align: center;
    padding-bottom: 25px;
}
