/* Import Google Font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Navbar Section */
#navbar {
    display: flex;
    justify-content: space-around;
}

#navbar .nav-logo {
    margin: 16px 0;
}

#navbar .nav-menu ul {
    display: flex;
    gap: 32px;
    margin: 34px 0;
}

#navbar .nav-menu li {
    list-style: none;
}

#navbar .nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

/* Common Styles */
.btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #469165;
    padding: 12.5px 16px;
    margin: 24px 0;
    border-radius: 4px;
    border: none;
}
    
